<%= flash[:notice] %>

<h1>Editing Book</h1>
<p>Find me in app/views/books/edit.html.erb</p>

  <% if @book.errors.any? %>
    <p>Please check the error details.</p>
    <ul>
      <% @book.errors.full_messages.each do |error| %>
      <li><%= error %></li>
      <%end%>
    </ul>
  <%end%>

  <%= form_with model: @book do |rewrite| %>
    <p>Title</p>
    <%= rewrite.text_field :title %>
    <p>Body</p>
    <%= rewrite.text_field :body %>
    <%= rewrite.submit :"Update Book"%>
  <%end%>
  
  <%=link_to "Show", book_path(@book.id)%>|<%=link_to "Back",books_path %>