<%= flash[:notice] %>

<h1>Books</h1>

 <table>
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th colspan="3"></th>
  </tr>
    <% @books.each do |book| %>
    <!--@booksのデータを繰り返して出し、|book|に一度収める-->
  <tr>
    <td><%= book.title %></td>
    <td><%= book.body %></td>
    <td><%= link_to "Show", book_path(book.id) %></td>
    <td><%= link_to "Edit", edit_book_path(book.id) %></td>
    <td><%= link_to "Destroy", book_path(book.id), method: :delete, "data-confirm" => "Are you sure?" %></td>
    <!--|book|の有効範囲は%end%まで→引数指定する(book.id)はbookでOK-->
  <% end %>
  <tr>
</table>

  <% if @book.errors.any? %>
    <p>Please check the error details.</p>
    <ul>
      <% @book.errors.full_messages.each do |error| %>
      <li>
        <%= error %>
      </li>
      <%end%>
    </ul>
  <%end%>

<div class="New-post">
  <h2 >New book</h2>
  <%= form_with model: @book do |new| %>
  
    <p class="text">Title</p>
    <%= new.text_field :title %>
    
    <p class="text">Body</p>
    <%= new.text_field :body %>
    
    <%= new.submit "Create Book"%>
    
  <%end%>
</div>